*, ::after, ::before {
    box-sizing: border-box;
  }
  *, p, h1, h2, h3, h4, h5, h6, ul, ol, li {
    margin-top: 0;
    margin-bottom: 0;
  }
  body {
      font-family: Arial, Helvetica, sans-serif;
  }
  p {
    line-height: 24px;
  }
  /* Mobile first */
  .category-text {
    text-align: center;
    margin: 30px 30px;
  }
  .row {
    display: block;
    flex-wrap: wrap;
    /* margin-right: -15px; */
    /* margin-left: -15px;  */
  }
 
  .menu-wrapper-inner {
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 1em;
  }
  /*Desktop screens */
  @media (min-width: 600px) {
    .row {
    display: flex;
    flex-wrap: wrap;
    /* margin-right: -15px; */
    /* margin-left: -15px;  */
    }
   .menu-wrapper-inner {
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 1.5em;
    }
    .menu-wrapper-inner:first-child {
    padding-right: 3em;
    } 
  } 
  
  .menu-item {
    position: relative;
    padding-bottom: 11px;
    border-bottom: 1px dashed #dbdbdb;
    margin-bottom: 20px;
  }
  .menu-item-title {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 7px;
  }
  .tag {
    display: inline-block;
    position: relative;
    padding-left: 5px;
    padding-right: 3px;
    
  }
  .menu-item-price {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    min-width: 50px;
    text-align: right;
  }
  .menu-item-desc {
    margin-bottom: 0;
  }
  .sub-category-text {
      margin: 1em 1em 1em 0;
      background-color: lightgrey;
  }

 

 