/* My First CSS */
html {
    background-color: #00539F;
    font-size: 10px;
    font-family: 'Playfair Display', serif;
}
body {
    width: 900px;
    margin: 0 auto;
    background-color: #FF9500;
    padding: 0 20px 20px 10px;
    border: 40px solid black;
}
h1 {
    margin: 0;
    padding: 20px 0;
    color: #00539f;
    text-shadow: 3px 3px 1px black;
    font-family: Helvetica;
    font-size: 60px;
    text-align: left;
    }
p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}
img {
    display: black;
    width: 600px;
    height: 400px;
    margin: 0 auto;
}
.bigbold {
    font-weight: bold;
    font-size: 3.5rem;
}
a:link {
   text-decoration-color: aquamarine;
}
div {
    border: 1px springgreen;
    margin: 5px;
    border-color: white;
}
.box1 {
    border-color: brown;
    background-color: cadetblue;
    padding: 6rem;
}
.box2 {
    background-color: tomato;
}